# --- START Copilot-generated configuration
insmod gfxterm
insmod vbe
insmod vga
insmod efi_gop
insmod efi_uga
insmod png

set gfxpayload=keep
set gfxmode=auto,1920x1080,1024x768,800x600

if loadfont /boot/grub/font.pf2; then
    set gfxterm_font=unicode
fi

set lang=en_US
set keyboard_layout=us

terminal_output gfxterm
# --- END Copilot-generated configuration
background_image /preseed/theme/background.png

menuentry 'Install Automation Controller' {
    linux    /install.amd/vmlinuz vga=788 --- quiet auto=true url=file:///cdrom/preseed/preseed_automation_controller.cfg hostname=debian domain=''
    initrd   /install.amd/initrd.gz
}

menuentry 'Install Digital Signage' {
    linux    /install.amd/vmlinuz vga=788 --- quiet auto=true url=file:///cdrom/preseed/preseed_digital_signage.cfg hostname=debian domain=''
    initrd   /install.amd/initrd.gz
}

menuentry 'Manual Install' {
    linux    /install.amd/vmlinuz vga=788 --- quiet auto=true
    initrd   /install.amd/initrd.gz
}